.body{
    background-color: #F3F1FF;
    ;
}
.navbar img{
    width: 40px;
}

main{
    max-width: 870px;
}

.player img{
    width: 56px;
}
h3{
    color: #562EFF ;
}
.blog img{
    width: 177px;
}
.creator{
    font-size: small;
    padding-top: 20px;
    color: #9F9F9F ;
}
.highlight{
    color: #562EFF ;
}
footer{
    max-width: 870px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
h6{
    color: #ED6B4F ;
}
.star img{
    width:15px;
}
.clock img{
    width: 20px;
}