.body{
    background-color: #F3F1FF;
    ;
}
.navbar img{
    width: 40px;
}

main{
    max-width: 870px;
}

.player img{
    width: 56px;
}
h3{
    color: #562EFF ;
}
.blog img{
    width: 177px;
}
.creator{
    font-size: small;
    padding-top: 20px;
    color: #9F9F9F ;
}
.highlight{
    color: #562EFF ;
}